
body{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}
header{
  background-color: #0c3b2e;
  padding: 20px 0px;
}
.page-logo{
  width: 50%;
}
.caja{
  width: 940px;
  position: relative;
  margin: 0px  auto;
  
}
nav{
    position: absolute;
    top: 110px;
    right: 0px;
}
nav li{
    display: inline;
    margin: 0 0 0 18px;
}
nav a{
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
main{
  
  background: url("https://assets2.razerzone.com/images/downloads-page/thumbnails/snake-pit_thumbnail.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.convertidor {
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
}
.tituloPrincipal{
  color: #0c3b2e;
  font-size: 50px;
  margin-bottom: 50px;
}
#cantidad{
  font-size: 30px;
  margin-right: 25px;
}
#monedaDestino{
  font-size: 30px;
}

#resultado{
  margin-top: 45px;
  font-size: 30px;
}
.boton{
  font-size: 30px;
  background-color: #0c3b2e;
  color: white;
  border-radius: 15px;
}


footer{
  text-align: center;
  background: #1b2727;
  /*background: url(/imagenes/imagenes/bg.jpg);*/ 
  padding: 35px;
}
.derechosAutor{
  color: white;
  font-size: 13px;
  margin: 20px;
} 
  